<body>
  
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
  <script src="js/foundation/foundation.dropdown.js"></script>
  <!-- Other JS plugins can be included here -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/website-beta">Home</a></li>
        <li class="divider"></li>
        <li><a href="https://damnation.eu/phpbb/">Forums</a></li> 
        <li class="divider"></li>
        <li><a href="/website-beta/pve">PvE</a></li>
        <li class="divider"></li>
        <li><a href="/website-beta/creative">Creative</a></li> 
        <li class="divider"></li>
        <li><a href="/website-beta/minigames">Minigames</a></li> 
        <li class="divider"></li>
        <li><a href="/website-beta/abaddon">Abaddon</a></li> 
        <ul class="right active"><a href="/website-beta/pve/apply">Join</a></ul> 
        <ul class="divider"></ul>
        <ul class="right"><a href="/website-beta/about">About Us</a></ul> 
      </ul>
    </div>
  </div>
</nav>

  <script>
    $(document).foundation();
  </script>

</body>
