<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/website-beta">Home</a></li>
        <li><a href="https://damnation.eu/phpbb/">Forums</a></li> 
        <li class="f-dropdown">
          <a class="f-dropdown open" data-toggle="f-dropdown" href="/website-beta/pve">PvE
          <span class="caret"></span></a>
          <ul class="f-dropdown open">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li> 
          </ul>
        </li>        
        <li><a href="/website-beta/creative">Creative</a></li> 
        <li><a href="/website-beta/minigames">Minigames</a></li> 
        <li><a href="/website-beta/abaddon">Abaddon</a></li> 
      </ul>
    </div>
  </div>
</nav>
