<body>
  
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
  <script src="js/foundation/foundation.dropdown.js"></script>
  <!-- Other JS plugins can be included here -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav left">
        <li class="active"><a href="/website-beta">Home</a></li>
        <li><a href="https://damnation.eu/phpbb/">Forums</a></li> 
        <li><a href="/website-beta/pve">PvE</a></li>
        <li><a href="/website-beta/creative">Creative</a></li> 
        <li><a href="/website-beta/minigames">Minigames</a></li> 
        <li><a href="/website-beta/abaddon">Abaddon</a></li>
        
        <li class="has-dropdown"><a href="#">Main Item 3</a>
        <ul class="dropdown">
          <li class="has-dropdown"><a href="#">Dropdown Level 1a</a>

            <ul class="dropdown">
              <li><label>Dropdown Level 2 Label</label></li>
              <li><a href="#">Dropdown Level 2a</a></li>
              <li><a href="#">Dropdown Level 2b</a></li>
              <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                <ul class="dropdown">
                  <li><label>Dropdown Level 3 Label</label></li>
                  <li><a href="#">Dropdown Level 3a</a></li>
                  <li><a href="#">Dropdown Level 3b</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Dropdown Level 3c</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown Level 2d</a></li>
              <li><a href="#">Dropdown Level 2e</a></li>
              <li><a href="#">Dropdown Level 2f</a></li>
            </ul>
          </li>
          <li><a href="#">Dropdown Level 1b</a></li>
          <li><a href="#">Dropdown Level 1c</a></li>
          <li class="divider"></li>
          <li><a href="#">Dropdown Level 1d</a></li>
          <li><a href="#">Dropdown Level 1e</a></li>
          <li><a href="#">Dropdown Level 1f</a></li>
          <li class="divider"></li>
          <li><a href="#">See all &rarr;</a></li>
        </ul>
      </li>
      
      </ul>
      <ul class="nav navbar-nav right">
        <li><a href="/website-beta/pve/apply">Join</a></li> 
        <li><a href="/website-beta/about">About Us</a></li> 
      </ul>
    </div>
  </div>
</nav>

  <script>
    $(document).foundation();
  </script>

</body>
