<!doctype html>

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>damNation.eu Website Beta</title>
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/app.css" />
    <!--<script src="bower_components/modernizr/modernizr.js"></script>-->
  </head>
  <body style="background: url('/website-beta/media/background.jpg') no-repeat fixed; background-position: 50% 0%; margin: 15px;">
    <div class="row" style="text-align:center;background-attachment:fixed;margin-bottom:15px;">
      <!-- Background url must be updated if web root address is changed-->
      <div class="small-12 small-centered columns">
        <a href="{{site.baseurl}}"><img src="{{site.baseurl}}/media/site_logo.gif" /></a>
        <div style="background: url('https://damnation.eu/phpbb/styles/grassland_lite/theme/images/phrase1.png'); width: 577px; height: 36px; background-position: center right; background-repeat: no-repeat; text-align: left;">
          <a href="http://damnation.eu/wiki/index.php/Application" target="blank">
            <img src="https://damnation.eu/phpbb/styles/grassland_lite/theme/images/apply_here.png"></a> 
          <a href="https://damnation.eu/servers.php">
             <img src="https://damnation.eu/phpbb/styles/grassland_lite/theme/images/server_status_green.png"></a>
	</div>
      </div>
    </div>
    <div class="row">
    <nav class="top-bar" data-topbar role="navigation">
      <section class="top-bar-section">
        {%include nav.html%}
        </ul>
      </section>
    </nav>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class="panel">
        {{content}}
        </div>
      </div>
    </div>
    <!--
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>-->
        <div style="position: relative">
            <p style="height:12px; position: relative; width:100%; text-align: center; color:#555555"> 
              Site built by the damNation Staff © 2015
            </p>
        </div>
  </body>
</html>
