<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/app.css" />
    <!--<script src="bower_components/modernizr/modernizr.js"></script>-->
  </head>
  <body>
    <div class="row" style="text-align:center;background-attachment:fixed;margin-bottom:15px;">
      <div class="small-12 small-centered columns">
        <a href="../"><img src="{{site.baseurl}}/media/site_logo.gif" /></a>
      </div>
    </div>
    <div class="row">
    <nav class="top-bar" data-topbar role="navigation">
      <section class="top-bar-section">
        {%include nav.html%}
<!--        <ul class="left">
          <li class="active"><a href="#">Home</a></li>
          <li class="has-dropdown">
            <a href="#">Pve</a>
            <ul class="dropdown">
              <li><a href="#">Getting Started</a></li>
              <li><a href="#">Land ownership</a></li>
            </ul>
          </li>-->
        </ul>
      </section>
    </nav>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class="panel">
        {{content}}
        </div>
      </div>
    </div>
    <!--
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>-->
  </body>
</html>
